.adding-new-div-btn
{
    padding-bottom: 20px;
}
.treeview
{
    background-color: #000000!important;

}
.treeview-menu
{
    background:#000000!important;
}
.btn-primary
{
    background-color: #2D2E3E;
}
.box-footer .save-btn
{
    margin-left: 10px;
}